* {
    box-sizing: border-box;
}
html {
    width: 360px;
    height: 700px;
}
body {
    width: 360px;
    height: 700px;
    margin: 0;
    padding: 5px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
